<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881325041810-ut9url4ihnl0412reisi42ck88775rru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881325041810-ut9url4ihnl0412reisi42ck88775rru</string>
	<key>API_KEY</key>
	<string>AIzaSyCIpeefwCO5OkgTObkdmY2uY4z5O_Hi0pw</string>
	<key>GCM_SENDER_ID</key>
	<string>881325041810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lrhaugh.Cruuze</string>
	<key>PROJECT_ID</key>
	<string>cruuze-1569c</string>
	<key>STORAGE_BUCKET</key>
	<string>cruuze-1569c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881325041810:ios:cdb5d2676075dd3b</string>
	<key>DATABASE_URL</key>
	<string>https://cruuze-1569c.firebaseio.com</string>
</dict>
</plist>